{{ $bundleRaw := resources.Get "sass/style.sass" | resources.ExecuteAsTemplate "css/main.tmp.css" . }}

{{ $cssOpts := (dict "targetPath" "css/main.css" ) }}
{{ $postCSSOpts := (dict "use" "autoprefixer" ) }}
{{ $bundle := $bundleRaw | toCSS $cssOpts | postCSS $postCSSOpts | minify | fingerprint }}
<link rel="stylesheet" href="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous" media="screen">

<!-- Custom css -->
{{ range .Site.Params.customCSS -}}
  {{ $style := resources.Get . }}
  {{ $bundle := $style | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous" media="screen">
{{- end }}

<!-- PhotoSwipe -->
{{ if eq .Type "gallery" }}
{{ $photoswipe := "css/photoswipe.css" }}
<link rel="stylesheet" href="{{ $photoswipe | absURL }}">
{{ $defaultSkin := "css/default-skin.css" }}
<link rel="stylesheet" href="{{ $defaultSkin | absURL }}">
{{ end }}
