{{ partial "head/metadata.html" . }}
{{ partial "head/favicons.html" . }}
{{ partial "head/css.html" . }}
<!-- Google fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">
<link href="/pubkey.txt" rel="pgpkey authn">
<meta rel="me" href="https://twitter.com/neomelonas">
<meta rel="me" href="https://some.oddte.ch/@neo">
<meta rel="me" href="https://github.com/neomelonas">
<meta rel="me" href="mailto:neo@oddte.ch">
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/google_analytics_async.html" . }}
